@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello! 
        <br />
        <br />
    My name is Lucas Kingston and this is a proof of concept website for all of my future clients and employers.
    </p>
</div>
